@charset "utf-8";
/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

/* ----------------------- main color ----------------------- */
/* 
    hsl(hue, saturation, lightness) 
    hue(색조) : 0 ~ 360 ( 0: 빨간색, 120: 녹색, 240: 파란색 )
    saturation(채도) : 0 ~ 100 (0: 회색, 100: 원색)
    lightness(명도) : 0 ~ 100 (0: 검정색, 50: 중간, 100: 흰색)
*/
    --hue-color: 201;

/* ----------------------- colors ----------------------- */
    /* --primary-color: hsl(var(--hue-color), 69%, 61%);
    --primary-color-lighter: hsl(var(--hue-color), 92%, 85%);

    --black-color: hsl(var(--hue-color), 8%, 15%);
    --gray-color: hsl(var(--hue-color), 8%, 45%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 60%, 99%); */

    /* --main-bg-color: #242527; */
    --border-color: #8d98a133;
    --hover-color: #e9bc0a;
    
    --primary-color: #fbd46d;
    --secondary-color: #FFCF09;
    --primary-dark-color: #2b2301;
    --white-color: #FFF;
    --font-color: #2B2B28;



/* ----------------------- typography ----------------------- */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;

/* ----------------------- font-weight ----------------------- */
    --font-medium: 500;
    --font-semi-bold: 600;

/* ----------------------- margin bottom ----------------------- */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/* ----------------------- z index ----------------------- */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ----------------------- dark-theme ----------------------- */
body.dark-theme {
    --black-color: hsl(var(--hue-color), 8%, 95%); /* 흰색으로 바뀝니다 */
    --body-color: hsl(var(--hue-color), 28%, 12%); /* 어두운 색으로 바뀝니다 */
}

/* ----------------------- reset ----------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    /* background: var(--primary-color); */
    color: var(--font-color);
    min-height: 100vh;
    /* font-size: 16px; */
}
#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    /* z-index: ; */
  }
  .clearfix:after {
    content: "";
    display: block;
    clear: both;
  }
h1,h2,h3,h4 {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
ul {
    list-style: none;
}
a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
img {
    max-width: 100%;
    vertical-align: top;
    border-style: none;
}
button {
    border: none;
    background: transparent;
    color: inherit;
    cursor: pointer;
}
i {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
}
div {
    display: block;
}
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  em,
  strong {
    font-weight: 700;
  }

/* ========================= reusable, common css ========================= */
.section__title--wrap {
    text-align: center;
}
.section__title {
    font-size: var(--h1-font-size);
}
.section__subtitle {
    font-size: var(--normal-font-size);
    color: var(--gray-color);
    margin-bottom: var(--mb-3);
}
.link-button {
    border: thin solid var(--border-color);
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 50px;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
  }
.link-button-circle {
    width: 40px;
    height: 40px;
    font-size: 14px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    border: thin solid var(--border-color);
  }

/* ========================= layout ========================= */
.wrap {
  padding: 0 12px;
  max-width: 1140px;
  /* min-height: 100vh; */
  margin: 0 auto;
  }
.inner {
    max-width: 1440px;
    margin: 0 auto;
}
  footer {
    height: 200px;
  }
.flex {
    display: flex;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .flex-center-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .skill-box-style {
    padding-bottom: 80px;
    margin: 0 auto;
}
.primary_color__bg {
    background: var(--primary-color);
}

/* ========================= cut line ========================= */
.division__line:before {
    content: "";
    display: block;
    width: 50%;
    background: var(--primary-color);
    height: 3px;
}
.division__line {
    position: relative;
    margin: 50px 0;
    margin-bottom: 80px;
}
  /* ========================= header ========================= */
/* nav-icon-7 */
header {
    position: fixed;
    right: 0;
    top: 0;
}
.nav-icon-7{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: auto;
    z-index: var(--z-fixed);
  }
  .nav-icon-7 span{
    background-color: var(--font-color);
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
  }
  .nav-icon-7 span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .nav-icon-7 span:nth-child(2){
    top:13px;
    left: 0px;
  }
  .nav-icon-7 span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .nav-icon-7:not(.open):hover span:nth-child(1){
    transform: scaleX(.8);
  }
  .nav-icon-7:not(.open):hover span:nth-child(2){
    transform: scaleX(.5);
  }
  .nav-icon-7:not(.open):hover span:nth-child(3){
    transform: scaleX(.8);
  }
  .nav-icon-7.open span:nth-child(1){
    transform: rotate(90deg);
    top: 13PX;
  }
  .nav-icon-7.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
  }
  .nav-icon-7.open span:nth-child(3){
    top: 13PX;
  }

.nav__list {
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    /* 이 부분 길게할지말지 길게하려면 100vh */
    height: auto;
    background: var(--primary-color);
    padding-top: 5rem;
    z-index: var(--zindex-gnb);
    transform: translateX(100%);
    transition: .3s;
}
.nav__list.visible {
    transform: translateX(0);
}
.nav__link {
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: var(--font-semi-bold);
}
.nav__link:hover {
    color: var(--primary-color);
    background: var(--white-color);
}
.nav__link i {
    display: none;
}


/* ========================= home page ========================= */
.home {
    padding: 4rem 0;
    /* padding-bottom: 4rem; */
}
.home-pic img {
    width: 700px;
}

.home__about {
    padding: 72px 0px 72px 100px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100%;
    position: relative;
}
.home__about:before {
    content: "";
    width: 175px;
    height: 3px;
    position: absolute;
    background: var(--primary-color);
    left: -100px;
    top: 100px;
}
.home__about-desc p {
    width: 500px;
    line-height: 27px;
    font-size: var(--h3-font-size);
    font-weight: 300;
    margin: var(--mb-2) 0;
}
/* ========================= resume button ========================= */
.resume-link {
    margin-top: 20px;
    margin-bottom: 40px;
    transition: .3s;
  }
  .resume-link:hover {
    border: 1px solid var(--hover-color);
    color: var(--hover-color);
  }
/* ========================= home about social ========================= */
.home-about-social {
    display: flex;
}
.home-about-social a {
    margin-right: 30px;
}
.home-about-social i {
    font-size: 20px;
}
.github-link {
    transition: .4s;
}
.blog-link {
    transition: .4s;
}
.github-link:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}
.blog-link:hover {
    color: var(--hover-color);
    border: 1px solid var(--hover-color);
}
  /* ========================= skills desc section ========================= */
.skills {
    margin-bottom: var(--mb-3);
}
.skills__desc_container {
    /* padding: 1rem; */
    margin: var(--mb-1);
    flex: 1;
}
.skills__desc_container i {
    flex: 1;
}
.skills__desc_container p {
    flex: 8;
    line-height: 2rem;
    padding-bottom: var(--mb-1);
    margin: 0 var(--mb-1);
}
.skills__list {
    margin: var(--mb-1);
    flex: 1;
}
  /* ========================= skills percent section ========================= */
.skills__list {
    display: flex;
    flex-wrap: wrap;
}
.skills__item {
    display: flex;
    width: 50%;
    flex-shrink: 0;
    flex-direction: column;
    margin-bottom: var(--mb-1-5);
    padding-right: var(--mb-1-5);
}
.skills__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--mb-1);
    cursor: pointer;
}
.skills__title {
    display: flex;
    align-items: center;
}
.skills__title i {
    margin-right: var(--mb-1);
}
.skill__icon,
.skill__icon--arrow {
    font-size: var(--h1-font-size);
    color: var(--primary-color);
    transition: .3s;
}
.skill__icon--arrow.active {
    transform: rotate(180deg);
}
.skill__progress {
    padding-left: 3.2rem;
    margin-bottom: var(--mb-1);
}
.skill__titles {
    display: flex;
    justify-content: space-between;
}
.skill__titles h3 {
    font-weight: var(--small-font-size);
}

.skill__data {
    display: none;
}

.skill__bar {
    height: 8px;
    border-radius: .5rem;
    overflow: hidden;
    background: var(--primary-color-lighter);
}
.skill_percent {
    display: block;
    width: 80%;
    height: 100%;
    background: var(--primary-color);
}
/* ========================= about section ========================= */
.about__desc {
    font-weight: var(--font-semi-bold);
    flex: 5;
    line-height: 30px;
    margin: var(--mb-3);
}
.about__pic {
    margin: var(--mb-3);
    flex: 5;
}

/* ========================= qualification section ========================= */
.qualification__info {
    width: 300px;
    margin: 1rem auto;
}





/* ========================= works section ========================= */
.works {
    width: 80%;
    position: relative;
}
.slider-for img {
    padding: 1rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slick-dots {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 1rem;
    cursor: pointer;
}
/* active된 dot */
.slick-dots li.slick-active button {
    background: var(--primary-color);
}
/* 나머지 dot */
.slick-dots li {
    margin-right: .5rem;
}
.slick-dots li button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    background: var(--border-color);
    cursor: pointer;
}


/* arrow */
.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    z-index: 100;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    font-size: 0;
    border-radius: 50%;
    border: none;
    background: rgba(255, 243, 80, 0.5);
    cursor: pointer;
}
.slick-prev {
    left: -10%;
    top: -70%;
}
.slick-next {
    right: -10%;
    top: -70%;
}

.slick-prev:after,
.slick-next:after{
    font-size: 1.2rem;
    color: var(--black-color);
}
.slick-prev:after,
.slick-next:after{
    font-family: unicons-line;
}
.slick-prev:after {
    content: '\ec49';
}
.slick-next:after {
    content: '\eb9f';
}

/* resusable css */
.slider__button {
    text-decoration: none;
    color: inherit;
    border-radius: .5rem;
    padding: 1rem;
    font-size: var(--small-font-size);
    background: var(--font-color);
    color: var(--white-color);
    width: 100px;
    text-align: center;
    transition: .4s;
}
.slider__button:hover {
    background: var(--hover-color);
}
.slider__content {
    display: flex;
}
/* .slider__img {
    flex: 1;
    overflow: hidden;
} */
/* .slider__img img {
    border-radius: .5rem;
} */
.slider__desc {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}
.slider__desc p {
    margin: 1rem 0;
}
/* works modal */
/* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 100;
}
.modal {
    width: 80%;
    height: 80%;
    background: #fff;
    padding: 1rem;
    border-radius: .5rem;
    border: 1px solid #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.close__modal {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    background: #fff;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding-bottom: 4px;
    border: 1px solid #eee;
    cursor: pointer;
} */

/* ========================= footer ========================= */
.footer__container {
    line-height: 80px;
}
.footer__links {
    width: 200px;
    justify-content: space-around;
}
.footer__links a {
    transition: .3s;
}
.footer__links a:hover {
    color: var(--white-color);
}