@charset "utf-8";
/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  /* ----------------------- colors ----------------------- */
  --hover-color: #e9bc0a;

  --primary-color: #fbd46d;
  --secondary-color: #ffcf09;
  --primary-dark-color: #2b2301;
  --white-color: #fff;
  --font-color: #2b2b28;
  --grey-color: #a2a2a2;
  --grey-color-lighter: #e2e2e2;
  --grey-color-dark: #626262;

  /* ----------------------- typography ----------------------- */
  --body-font: 'Roboto', sans-serif;
  --big-font-size: 3rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.813rem;

  /* ----------------------- font-weight ----------------------- */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* ----------------------- margin bottom ----------------------- */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* ----------------------- z index ----------------------- */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* ----------------------- reset ----------------------- */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--body-font);
  color: var(--font-color);
  min-height: 100vh;
}
#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
h1,
h2,
h3,
h4 {
  color: var(--black-color);
  font-weight: var(--font-semi-bold);
}
h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}
h3 {
  font-size: var(--h3-font-size);
}
ul {
  list-style: none;
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  vertical-align: top;
  border-style: none;
}
button {
  border: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
}
i {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
div {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong {
  font-weight: 700;
}

/* ========================= reusable, common css ========================= */
.section__title--wrap {
  text-align: center;
  padding-top: var(--mb-1);
}
.section__subtitle {
  font-size: var(--normal-font-size);
  color: var(--gray-color);
  margin-bottom: var(--mb-3);
}

/* ========================= layout ========================= */
.wrap {
  padding: 0 12px;
  max-width: 1140px;
  margin: 0 auto;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
}
footer {
  height: 200px;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  margin: 0 auto;
}
.flex-center-space-between {
  display: flex;
  justify-content: space-between;
}
.skill-box-style {
  padding-bottom: 80px;
  margin: 0 auto;
}
.primary_color__bg {
  background: var(--primary-color);
}
/* layouts (공공재) */
.l_wrapper {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 10px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px 20px;
}
.l_wrapper::-webkit-scrollbar {
  width: 10px;
}
.l_wrapper::-webkit-scrollbar-thumb {
  background-color: var(--grey-color);
  border-radius: 10px;
}
.l_wrapper::-webkit-scrollbar-track {
  background-color: var(--grey-color-lighter);
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
.l_wrapper:after {
  content: '';
  display: table;
}
.l_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px -20px -10px;
}
.l_col {
  box-sizing: border-box;
  width: 33.3333%;
  padding: 0 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.l_col_12_12 {
  width: 100%;
}
.l_col_11_12 {
  width: 91.66666667%;
}
.l_col_10_12 {
  width: 83.33333333%;
}
.l_col_9_12 {
  width: 75%;
}
.l_col_8_12 {
  width: 66.66666667%;
}
.l_col_7_12 {
  width: 58.33333333%;
}
.l_col_6_12 {
  width: 50%;
}
.l_col_5_12 {
  width: 41.66666667%;
}
.l_col_4_12 {
  width: 33.33333333%;
}
.l_col_3_12 {
  width: 25%;
}
.l_col_2_12 {
  width: 16.66666667%;
}
.l_col_1_12 {
  width: 8.33333333%;
}

@media (max-width: 768px) {
  .l_col_tablet_12_12 {
      width: 100%;
  }
  .l_col_tablet_11_12 {
      width: 91.66666667%;
  }
  .l_col_tablet_10_12 {
      width: 83.33333333%;
  }
  .l_col_tablet_9_12 {
      width: 75%;
  }
  .l_col_tablet_8_12 {
      width: 66.66666667%;
  }
  .l_col_tablet_7_12 {
      width: 58.33333333%;
  }
  .l_col_tablet_6_12 {
      width: 50%;
  }
  .l_col_tablet_5_12 {
      width: 41.66666667%;
  }
  .l_col_tablet_4_12 {
      width: 33.33333333%;
  }
  .l_col_tablet_3_12 {
      width: 25%;
  }
  .l_col_tablet_2_12 {
      width: 16.66666667%;
  }
  .l_col_tablet_1_12 {
      width: 8.33333333%;
  }
}

@media (max-width: 568px) {
  .l_col_mobile_12_12 {
      width: 100%;
  }
  .l_col_mobile_11_12 {
      width: 91.66666667%;
  }
  .l_col_mobile_10_12 {
      width: 83.33333333%;
  }
  .l_col_mobile_9_12 {
      width: 75%;
  }
  .l_col_mobile_8_12 {
      width: 66.66666667%;
  }
  .l_col_mobile_7_12 {
      width: 58.33333333%;
  }
  .l_col_mobile_6_12 {
      width: 50%;
  }
  .l_col_mobile_5_12 {
      width: 41.66666667%;
  }
  .l_col_mobile_4_12 {
      width: 33.33333333%;
  }
  .l_col_mobile_3_12 {
      width: 25%;
  }
  .l_col_mobile_2_12 {
      width: 16.66666667%;
  }
  .l_col_mobile_1_12 {
      width: 8.33333333%;
  }
}

/* ========================= cut line ========================= */
.division__line:before {
  content: "";
  display: block;
  width: 50%;
  background: var(--primary-color);
  height: 3px;
}
.division__line {
  position: relative;
  z-index: -1;
  margin: 50px 0;
  margin-bottom: 80px;
}
/* ========================= header ========================= */
/* nav-icon-7 */
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.nav-icon-7 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  z-index: var(--z-fixed);
}
.nav-icon-7 span {
  background-color: var(--font-color);
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}
.nav-icon-7 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-7 span:nth-child(2) {
  top: 13px;
  left: 0px;
}
.nav-icon-7 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-7:not(.open):hover span:nth-child(1) {
  transform: scaleX(0.8);
}
.nav-icon-7:not(.open):hover span:nth-child(2) {
  transform: scaleX(0.5);
}
.nav-icon-7:not(.open):hover span:nth-child(3) {
  transform: scaleX(0.8);
}
.nav-icon-7.open span:nth-child(1) {
  transform: rotate(90deg);
  top: 13px;
}
.nav-icon-7.open span:nth-child(2) {
  transform: scale(0);
  transition-duration: 50ms;
}
.nav-icon-7.open span:nth-child(3) {
  top: 13px;
}

.nav__list {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background: var(--primary-color);
  padding-top: 5rem;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 99;
}
.nav__list.visible {
  transform: translateX(0);
}
.nav__link {
  display: block;
  line-height: 50px;
  font-size: var(--font-semi-bold);
  transition: 0.2s;
  text-align: center;
}
.nav__link:hover {
  color: var(--secondary-color);
  background: var(--white-color);
}
.nav__link i {
  display: none;
}

/* ========================= home page ========================= */
.home {
  padding: 4rem 0;
}
.home__pic {
  width: 70%;
}
.home__about {
  padding: 72px 0px 72px 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}
.home__about-desc p {
  line-height: 27px;
  font-size: var(--h3-font-size);
  font-weight: 300;
  margin: var(--mb-2) 0;
  line-height: 2.5rem;
}
/* --------------- button ---------------- */
.home__about_item {
  position: relative;
  padding: 10px 10px 10px 30px;
  color: var(--font-color);
  font-size:var(--h3-font-size);
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.home__about_item:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  transform-style: linear;
  transition-property: height,width;
  transition-delay: 0.3s,.4s;
  transition-duration: .3s;
}
.home__about_item:hover:before {
  transition-property: width,height;
  width: 10px;
  height: 100%;
}
.home__about_item:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--grey-color-lighter);
  transform: scaleX(0);
  transition: 0.4s;
  transition-delay: 0s;
  transform-origin: left;
  z-index: -1;
}
.home__about_item:hover:after {
  transform: scaleX(1);
  transition-delay: .6s;
}
.home__about_button i {
  vertical-align: bottom;
}
/* ========================= skills desc section ========================= */
.skills {
  margin-bottom: var(--mb-3);
}
.skills__desc_container {
  margin: var(--mb-1);
  flex: 1;
}
.skills__desc_container i {
  flex: .5;
}
.uil-book-open {
  padding-bottom: 50px;
}
.skills__desc_container span {
  background: var(--primary-color);
  font-weight: var(--font-semi-bold);
}
.skills__desc_container p {
  flex: 7;
  line-height: 2rem;
  margin: 0 var(--mb-1);
}
.skills__list {
  margin: var(--mb-1);
  flex: 1;
}
/* ========================= skills percent section ========================= */
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  width: 50%;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: var(--mb-1-5);
  padding: 0 var(--mb-0-25);
}
.skills__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
  cursor: pointer;
  align-items: center;
}
.skills__title {
  display: flex;
  align-items: center;
}
.skills__title i {
  margin-right: var(--mb-1);
}
.skill__icon,
.skill__icon--arrow {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  transition: 0.3s;
}
.skill__icon--arrow.active {
  transform: rotate(180deg);
}
.skill__progress {
  padding-left: 3.2rem;
  margin-bottom: var(--mb-1);
}
.skill__titles {
  display: flex;
  justify-content: space-between;
}
.skill__titles h3 {
  font-weight: var(--small-font-size);
}

.skill__data {
  display: none;
}

.skill__bar {
  height: 8px;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #99999967;
}
.skill_percent {
  display: block;
  height: 100%;
  background: var(--secondary-color);
}
/* ================ skill tech ================ */
.skill__tech li:nth-child(1) .skill_percent {
  width: 90%;
}
.skill__tech li:nth-child(2) .skill_percent {
  width: 90%;
}
.skill__tech li:nth-child(3) .skill_percent {
  width: 80%;
}
.skill__tech li:nth-child(4) .skill_percent {
  width: 80%;
}
/* ================ skill design ================ */
.skill__design li:nth-child(1) .skill_percent {
  width: 85%;
}
.skill__design li:nth-child(2) .skill_percent {
  width: 90%;
}
/* ================ etc skill ================ */
.skill__etc li:nth-child(1) .skill_percent {
  width: 75%;
}
.skill__etc li:nth-child(2) .skill_percent {
  width: 90%;
}
.skill__etc li:nth-child(3) .skill_percent {
  width: 85%;
}
/* ========================= about section ========================= */
.about__desc {
  font-weight: var(--font-semi-bold);
  flex: 5;
  line-height: 30px;
  margin: var(--mb-3);
  align-items: center;
}
.about__desc span {
  background: var(--secondary-color);
  font-weight: var(--font-semi-bold);
  font-size: var(--h3-font-size);
}
.about__pic {
  margin: var(--mb-3);
  flex: 5;
}
.about__pic img {
  border-radius: 10px;
  
}

/* ========================= qualification section ========================= */
.qualification__info {
  margin: 1rem auto;
  width: 50%;
  text-align: center;
}
.qualification__history {
  margin-top: 50px;
  margin-bottom: 100px;
}
.qualification__container {
  align-items: center;
}
.qualification__item {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qualification__puble--icon {
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}
.qualification__design--icon {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}
.qualification__tech {
  height: 85px;
}
.qualification__design {
  width: 85px;
  height: 85px;
}
.github-icon {
  margin-top: .2rem;
}
.jquery-icon {
  margin-bottom: -.6rem;
}
.gtq-icon {
  margin-top: 1rem;
  width: 180px;
}
.qualification__divider {
  flex: 1;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
}
.qualification__line {
  width: 100%;
  height: 5px;
  background: var(--grey-color-lighter);
}
.qualification__month {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  line-height: 50px;
  margin: 2rem 0;
  text-align: center;
  background: var(--grey-color-lighter);
}
.qualification__item-bg {
  background: #fff;
}

/* ========================= works section ========================= */
.works {
  position: relative;
}
.slider__img {
  flex: 6;
  margin: var(--mb-1-5);
}
.slider__desc {
  flex: 5;
  margin: var(--mb-1);
  margin-top: var(--mb-3);
}
.slider__desc h4 {
  line-height: 2rem;
}
.slider__desc span {
  font-size: var(--big-font-size);
}
.slider__desc div {
  display: initial;
  background: var(--primary-color);
}
.mobile__title {
  display: none;
}
.slick-dots {
  display: flex;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  justify-content: center;
}
/* active된 dot */
.slick-dots li.slick-active button {
  background: var(--primary-color);
}
/* 나머지 dot */
.slick-dots li {
  margin-right: 0.5rem;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: var(--grey-color-lighter);
  cursor: pointer;
}
/* arrow */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background: var(--grey-color-lighter);
  cursor: pointer;
}
.slick-prev {
  left: 0;
  top: -100%;
  transition: .3s;
}
.slick-next {
  right: 0;
  top: -100%;
  transition: .2s;
}
.slick-prev:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.slick-next:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
}

.slick-prev:after,
.slick-next:after {
  font-size: 1.2rem;
  color: var(--black-color);
}
.slick-prev:after,
.slick-next:after {
  font-family: unicons-line;
}
.slick-prev:after {
  content: "\ec49";
}
.slick-next:after {
  content: "\eb9f";
}
.slider-nav {
  margin: 0 auto;
}
/* resusable css */
.slider__link {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  margin: var(--mb-1) var(--mb-0-5);
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  flex-direction: column;
}
.slider__link i {
  vertical-align: bottom;
}
.slider__button {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  font-size: var(--small-font-size);
  line-height: 30px;
  border: 1px solid var(--grey-color-lighter);
  color: var(--black-color);
  width: 30%;
  height: 30px;
  transition: .3s;
  text-align: center;
}
.slider__container {
  margin: var(--mb-2);
  padding: var(--mb-2);
}
.slider__button:hover {
  background: var(--primary-color);
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal {
  width: 50%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: initial;
  text-align: center;
}
.close__modal {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: var(--font-medium);
  background: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  border: 1px solid #eee;
  color: var(--grey-color-dark);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.modal__content {
  height: 80vh;
  overflow-y: auto;
}

/* ========================= design works ========================= */
.design__works {
  margin-bottom: 80px;
}
.l_col_half {
  width: 50%;
}
/* component */
.img__wrapper {
  height: 100%;
}
.img__wrapper img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* ========================= design works modal ========================= */
.design__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 100;
  display: none;
}
.design__modal {
  width: 50%;
  background: #fff;
  padding: 1rem;
  border-radius: .5rem;
  border: 1px solid #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.design__close__modal {
  position: absolute;
  top: -.5rem;
  right: -.5rem;
  background: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-bottom: 4px;
  border: 1px solid #eee;
  cursor: pointer;
}
/* ========================= scroll up ========================= */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  opacity: .8;
  padding: .4rem .6rem 0 .6rem;
  border-radius: .5rem;
  z-index: var(--z-tooltip);
  transition: .4s;
  background: var(--primary-dark-color);
}
.scrollup__icon {
  font-size: 1.5rem;
  color: #fff;
}
.scrollup.visible {
  bottom: 5rem;
}
/* ========================= footer ========================= */
.footer__container {
  line-height: 80px;
}
.footer__links {
  width: 200px;
  justify-content: space-around;
}
.footer__links a {
  transition: 0.3s;
}
.footer__links a:nth-child(1):hover {
  color: #f0f8ff;
  transform: scale(1.03);
}
.footer__links a:nth-child(2):hover {
  transform: scale(1.03);
  color: #8a2be2;
}
.footer__links a:nth-child(3):hover {
  transform: scale(1.03);
  color: #2db400;
}

/* ========================= Tablet ========================= */
@media (max-width: 768px) {
  :root {
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
  }
  .wrap {
    padding: 0;
  }
  header {
    width: 100%;
  }
  .nav-icon-7 {
    z-index: 9999;
  }
  .nav__list {
    width: 100%;
    z-index: 999;
  }
  .home {
    margin-top: var(--mb-3);
    /* width: 100%; */
    /* margin-left: 0; */
    flex-direction: column;
    /* padding: 0; */
  }
  .home__pic {
    width: 40%;
    margin: 0 auto;
  }
  .home__about:before {
    display: none;
  }
  .home__about {
    padding: 0;
    margin-top: var(--mb-2);
    position: static;
  }
  .home__about-desc {
    text-align: center;
  }
  .home-about-social {
    display: none;
  }
  .home__about_button {
    justify-content: center;
    display: inline-block;
  }
  .github-link,
  .blog-link {
    display: none;
  }
  .resume-link {
    width: 100%;
    text-align: center;
    /* margin-left: 6.5em; */
  }
  .home-line {
    display: none;
  }
  /* ========== skills ========== */
  .skills {
    margin-top: 80px;
  }
  .skills__container {
    flex-direction: column;
  }
  .skills__list {
    width: 100%;
    display: initial;
    margin: var(--mb-1-5) 0;
    padding: 0 1.5rem;
  }
  .skills__item {
    width: 100%;
    margin-bottom: var(--mb-2);
  }
  /* ========== about me ========== */
  .about__container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about__pic {
    flex: 2;
    width:60%;
  }
  .about__desc {
    flex: 8;
  }
  /* ========== qualification ========== */
  .qualification__container {
    flex-direction: column;
    align-items: center;
  }
  .qualification__design--icon {
    display: flex;
    margin: 0;
  }
  .qualification__item {
    flex-direction: row;
  }
  .jquery-icon {
    width: 65px;
    flex: 1;
  }
  .gtq-icon {
    width: 85px;
  }
  .qualification__item-bg {
    background: var(--grey-color-lighter);
  }
    /* ========== works ========== */
    .works .section__subtitle {
      margin: 0;
    }
    /* ========== design works ========== */
    .design__modal {
      width: 70%;
    }
    /* ========== slider ========== */
    .slider__link h3 {
      font-size: 1rem;
    }
    .mobile-none {
      display: none;
    }
    .site_link {
      width: 100%;
    }
}

/* ========================= Mobile ========================= */
@media (max-width: 568px) {
  .nav__list {
    width: 100%;
  }
  .division__line {
    margin-bottom: 40px;
  }
  .home {
    padding-top: 3rem;
  }
  .home__pic {
    width: 70%;
  }
  .home__about-desc p {
    padding: var(--mb-0-5);
  }
  .skills__item {
    padding-left: var(--mb-1-5);
  }
  .jquery-icon {
    width: 60px;
  }
  .qualification__info {
    display: none;
  }
  .slider__container {
    flex-direction: column;
  }
  .slider__link {
    padding: var(--mb-0-5);
  }
  .slider__link h3 {
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
  }
  .slider__link button,
  .code_view {
    display: none;
  }
  .site_link {
    margin: 0 var(--mb-0-25);
  }
  .slider__link h3 {
    display: none;
  }
  .mobile__title {
    display: block;
    font-weight: var(--font-semi-bold);
  }
}
