@charset "utf-8";

/* ========================= cut line ========================= */
.division__line:before {
  content: "";
  display: block;
  width: 50%;
  background: var(--primary-color);
  height: 3px;
}
.division__line {
  position: relative;
  z-index: -1;
  margin: 80px 0;
}
/* ========================= header ========================= */
/* nav-icon-7 */
header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
.nav-icon-7 {
  width: 35px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-left: auto;
  z-index: var(--z-fixed);
}
.nav-icon-7 span {
  background-color: var(--font-color);
  position: absolute;
  border-radius: 2px;
  transition: 0.3s cubic-bezier(0.8, 0.5, 0.2, 1.4);
  width: 100%;
  height: 4px;
}
.nav-icon-7 span:nth-child(1) {
  top: 0px;
  left: 0px;
}
.nav-icon-7 span:nth-child(2) {
  top: 13px;
  left: 0px;
}
.nav-icon-7 span:nth-child(3) {
  bottom: 0px;
  left: 0px;
}
.nav-icon-7:not(.open):hover span:nth-child(1) {
  transform: scaleX(0.8);
}
.nav-icon-7:not(.open):hover span:nth-child(2) {
  transform: scaleX(0.5);
}
.nav-icon-7:not(.open):hover span:nth-child(3) {
  transform: scaleX(0.8);
}
.nav-icon-7.open span:nth-child(1) {
  transform: rotate(90deg);
  top: 13px;
}
.nav-icon-7.open span:nth-child(2) {
  transform: scale(0);
  transition-duration: 50ms;
}
.nav-icon-7.open span:nth-child(3) {
  top: 13px;
}

.nav__list {
  position: fixed;
  right: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  background: var(--primary-color);
  padding-top: 5rem;
  transform: translateX(100%);
  transition: 0.3s;
  z-index: 99;
}
.nav__list.visible {
  transform: translateX(0);
}
.nav__link {
  display: block;
  line-height: 50px;
  font-size: var(--font-semi-bold);
  transition: 0.2s;
  text-align: center;
}
.nav__link:hover {
  color: var(--secondary-color);
  background: var(--white-color);
}
.nav__link i {
  display: none;
}
/* ========================= home page ========================= */
.home {
  padding: 4rem 0;
}
.home__pic {
  width: 70%;
}
.home__pic img {
  border-radius: 15px;
}
.home__about {
  padding: 72px 0px 72px 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
}
.home__about-desc p {
  line-height: 27px;
  font-size: var(--h3-font-size);
  font-weight: 300;
  margin: var(--mb-2) 0;
  line-height: 2.5rem;
}
/* --------------- button ---------------- */
.home__about_item {
  position: relative;
  padding: 10px 10px 10px 30px;
  color: var(--font-color);
  font-size: var(--h3-font-size);
  font-weight: lighter;
  letter-spacing: 4px;
  text-transform: uppercase;
}
.home__about_item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: var(--secondary-color);
  transition-property: height, width;
  transition-delay: 0.3s, 0.4s;
  transition-duration: 0.3s;
}
.home__about_item:hover:before {
  transition-property: width, height;
  width: 10px;
  height: 100%;
}
.home__about_item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: var(--green-color);
  transform: scaleX(0);
  transition: 0.4s;
  transition-delay: 0s;
  transform-origin: left;
  z-index: -1;
}
.home__about_button a {
  transition: 1.2s;
}
.home__about_button a:hover {
  color: var(--white-color);
}
.home__about_item:hover:after {
  transform: scaleX(1);
  transition-delay: 0.6s;
}
.home__about_button i {
  vertical-align: bottom;
}
/* ========================= skills desc section ========================= */
.skills {
  margin-bottom: var(--mb-3);
}
.skills__desc_container {
  margin: var(--mb-1);
  flex: 1;
}
.skills__desc_container i {
  flex: 0.5;
}
.uil-book-open {
  padding-bottom: 50px;
}
.skills__desc_container span {
  background: var(--primary-color);
  font-weight: var(--font-semi-bold);
}
.skills__desc_container p {
  flex: 7;
  line-height: 2rem;
  margin: 0 var(--mb-1);
}
.skills__list {
  margin: var(--mb-1);
  flex: 1;
}
/* ========================= skills percent section ========================= */
.skills__list {
  display: flex;
  flex-wrap: wrap;
}
.skills__item {
  display: flex;
  width: 50%;
  flex-shrink: 0;
  flex-direction: column;
  margin-bottom: var(--mb-1-5);
  padding: 0 var(--mb-0-25);
}
.skills__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-1);
  cursor: pointer;
  align-items: center;
}
.skills__title {
  display: flex;
  align-items: center;
}
.skills__title i {
  margin-right: var(--mb-1);
}
.skill__icon,
.skill__icon--arrow {
  font-size: var(--h1-font-size);
  color: var(--primary-color);
  transition: 0.3s;
}
.skill__icon--arrow.active {
  transform: rotate(180deg);
}
.skill__progress {
  padding-left: 3.2rem;
  margin-bottom: var(--mb-1);
}
.skill__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--mb-0-5);
}
.skill__titles h3 {
  font-weight: var(--small-font-size);
}
.skill__data {
  display: none;
}

.skill__bar {
  height: 8px;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #99999967;
}
.skill_percent {
  display: block;
  height: 100%;
  background: var(--secondary-color);
}
/* ================ skill tech ================ */
.skill__tech li:nth-child(1) .skill_percent {
  width: 90%;
}
.skill__tech li:nth-child(2) .skill_percent {
  width: 90%;
}
.skill__tech li:nth-child(3) .skill_percent {
  width: 70%;
}
.skill__tech li:nth-child(4) .skill_percent {
  width: 75%;
}
/* ================ skill design ================ */
.skill__design li:nth-child(1) .skill_percent {
  width: 80%;
}
.skill__design li:nth-child(2) .skill_percent {
  width: 90%;
}
/* ================ etc skill ================ */
.skill__etc li:nth-child(1) .skill_percent {
  width: 55%;
}
.skill__etc li:nth-child(2) .skill_percent {
  width: 85%;
}
.skill__etc li:nth-child(3) .skill_percent {
  width: 80%;
}
/* ========================= about section ========================= */
.about__desc {
  font-weight: var(--font-semi-bold);
  flex: 5;
  line-height: 30px;
  margin: var(--mb-3);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about__desc h2 {
  margin-bottom: var(--mb-1-5);
  background: var(--green-color);
  color: var(--white-color);
  padding: var(--mb-0-5) var(--mb-0-25);
}
.about__desc span {
  /* background: var(--green-color); */
  color: var(--green-color);
  font-weight: var(--font-semi-bold);
}
.about__pic {
  margin: var(--mb-3);
  flex: 5;
}
.about__pic img {
  border-radius: 10px;
}
.prj_sec {padding: 50px 0 50px;}
/* ------------- prj cards ------------ */
.prj_cards_box{display: flex;}
.prj_cards_box .swiper-wrapper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 3% 4%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.swiper-slide.prj_cards_item .prj_info {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  display: inline-grid;
}
.prj_cards_item .prj_info .prj_txt {
  position: absolute;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.446);
  width: 100%;
  height: 100%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.prj_cards_item .prj_info:hover .prj_txt {
  opacity: 1;
  transition: .4s ease-in-out;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  -ms-transition: .4s ease-in-out;
  -o-transition: .4s ease-in-out;
}
.prj_cards_item .prj_info .prj_txt .txtbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: #fff;
  line-height: 30px;
}
.prj_img_box a .prj_img img {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}


/* ========================= qualification section ========================= */
.qualification__info {
  margin: 1rem auto;
  width: 50%;
  text-align: center;
}
.qualification__history {
  margin-top: 50px;
  margin-bottom: 100px;
}
.qualification__container {
  align-items: center;
}
.qualification__item {
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qualification__puble--icon {
  margin-bottom: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}
.qualification__design--icon {
  margin-top: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}
.qualification__tech {
  height: 85px;
}
.qualification__design {
  width: 85px;
  height: 85px;
}
.github-icon {
  margin-top: 0.2rem;
}
.jquery-icon {
  margin-bottom: -0.6rem;
}
.gtq-icon {
  margin-top: 1.1rem;
  width: 180px;
}
.qualification__divider {
  flex: 1;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
}
.qualification__line {
  width: 100%;
  height: 5px;
  background: var(--grey-color-lighter);
}
.qualification__month {
  width: 150px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  margin: 2rem 0;
  text-align: center;
  background: var(--primary-color);
}
.qualification__item-bg {
  background: #fff;
}

/* ========================= works section ========================= */
.works {
  position: relative;
}
.slider__img {
  flex: 6;
  margin: var(--mb-1-5);
}
.balenciaga-mockup {
  margin-top: var(--mb-3);
}
.slider__desc {
  flex: 5;
  margin: var(--mb-1);
  margin-top: var(--mb-3);
}
.slider__desc h4 {
  line-height: 2rem;
}
.slider__desc span {
  font-size: var(--big-font-size);
}
.slider__desc p {
  display: initial;
  background: var(--primary-color);
}
.mobile__title {
  display: none;
}
.slick-dots {
  display: flex;
  position: relative;
  margin-top: 1rem;
  cursor: pointer;
  justify-content: center;
}
/* active된 dot */
.slick-dots li.slick-active button {
  background: var(--primary-color);
}
/* 나머지 dot */
.slick-dots li {
  margin-right: 0.5rem;
}
.slick-dots li button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0;
  border: none;
  background: var(--grey-color-lighter);
}
/* arrow */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  font-size: 0;
  border-radius: 50%;
  border: none;
  background: var(--grey-color-lighter);
}
.slick-prev {
  left: 0;
  top: -100%;
  transition: 0.3s;
}
.slick-next {
  right: 0;
  top: -100%;
  transition: 0.2s;
}
.slick-prev:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.slick-next:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.slick-prev:after,
.slick-next:after {
  font-size: 1.2rem;
  color: var(--black-color);
}
.slick-prev:after,
.slick-next:after {
  /* font-family: unicons-line; */
}
.slick-prev:after {
  content: "<";
}
.slick-next:after {
  content: ">";
}
.slider-nav {
  margin: 0 auto;
}
/* resusable css */
.slider__container {
  padding: var(--mb-2);
  align-items: center;
}
.slider__link {
  cursor: pointer;
  padding: 1rem;
  text-align: center;
  margin: var(--mb-1) var(--mb-0-5);
  border-radius: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  flex-direction: column;
}
.slider__link i {
  vertical-align: bottom;
}
.slider__button {
  text-decoration: none;
  color: inherit;
  border-radius: 0.5rem;
  font-size: var(--small-font-size);
  line-height: 30px;
  border: 1px solid var(--grey-color-lighter);
  color: var(--black-color);
  width: 30%;
  height: 30px;
  transition: 0.3s;
  text-align: center;
}
.slider__button:hover {
  background: var(--primary-color);
}
/* modal */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.modal {
  width: 65%;
  height: 85vh;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  border: 1px solid var(--grey-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: initial;
  text-align: center;
}
.close__modal {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  font-size: var(--font-medium);
  background: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  border: 1px solid #eee;
  color: var(--grey-color-dark);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.modal__content {
  height: 80vh;
  overflow-y: auto;
}

/* ========================= design works ========================= */
.design__works {
  margin-bottom: 80px;
}
.l_col_half {
  width: 50%;
}
/* component */
.img__wrapper {
  height: 100%;
}
.img__wrapper img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
/* ========================= design works modal ========================= */
.design__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
.design__modal {
  width: 50%;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.design__close__modal {
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  background: #fff;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding-bottom: 4px;
  border: 1px solid #eee;
  cursor: pointer;
}


/* full page  slide title animation */
.sldani_txt {visibility:hidden; font-weight: 500; letter-spacing: -1.5px; }
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(10%);
      -webkit-transform: translateY(10%);
      -moz-transform: translateY(10%);
      -ms-transform: translateY(10%);
      -o-transform: translateY(10%);
} 
  100% {
      opacity: 1;
      transform: translateY(0%);
  } 
}
@-webkit-keyframes slide {
  0% {
      opacity: 0;
      -webkit-transform: translateY(5%);
  } 
  100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
  }
}
.cnt01.active .slide_txt { 
  animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 3s; 
    -webkit-animation-duration: 1.8s;
    visibility: visible; 
}
/* translate 사용한 cntents */
@keyframes slide_ban {
  0% {
      opacity: 0;
      transform: translateY(-30%);
      -webkit-transform: translateY(-30%);
      -moz-transform: translateY(-30%);
      -ms-transform: translateY(-30%);
      -o-transform: translateY(-30%);
} 
  100% {
      opacity: 1;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
} 
}
  @-webkit-keyframes slide_ban {
      0% {
          opacity: 0;
          -webkit-transform: translateY(5%);
      } 
      100% {
          opacity: 1;
          -webkit-transform: translateY(0%);
      }
}
.slick-list .slick-track .img-wrap.slick-slide.slick-active .sldani_txt {
  animation-name: slide_ban;
  -webkit-animation-name: slide_ban; 
  animation-duration: 3s; 
  -webkit-animation-duration: 1.8s;
  visibility: visible; 
}