@charset "utf-8";
/* =================== reset, base =================== */
:root {
  --primary-color: #0e1111;
  --secondary-color: #ffffff;
  --hover-color: #7c7c7c;
  --hover-background-color: #0e1111;
  --line-color: #dddddd;
  /* z-index */
  --zindex-header: 100;
  --zindex-gnb: 200;
  --zindex-toggle: 300;
  --zindex-dimmed: 99;
  /* margin */
  --margin-0-5: 0.5rem;
  --margin-1: 1rem;
  --margin-1-5: 1.5rem;
  --margin-2: 2rem;
  --margin-2-5: 2.5rem;
  --margin-3: 3rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-size: 100%;
  font-family: "Noto Sans KR", sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
button {
  border-style: none;
  cursor: pointer;
}
input {
  border-style: none;
}
/* =================== common =================== */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.flex {
  display: flex;
}
i {
  font-size: 2rem;
  vertical-align: baseline;
}
.li-box-style {
  border: 1px solid var(--line-color);
  border-radius: 10px;
}
/* =================== layout =================== */
.main-inner {
  width: 1100px;
  margin: 0 auto;
  padding: 60px 0;
}
.footer-inner {
  width: 900px;
  margin: 0 auto;
  padding: 50px 0;
}
footer {
  background: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 30px;
}
.main_title_style {
  text-align: center;
  font-size: 2rem;
  margin-bottom: var(--margin-3);
}

/* =================== header =================== */
.main-logo {
  border-bottom: 1px solid var(--line-color);
}
.main-logo img {
  width: 260px;
  margin: 10px auto;
}
.nav__container {
  height: 50px;
  width: 1100px;
  margin: 0px auto;
  z-index: 500;
  position: relative;
}
.navbar {
  justify-content: space-between;
  margin: 0 auto;
}
.navbar__item > a {
  z-index: 500;
  height: 50px;
  width: 150px;
  text-align: center;
  line-height: 50px;
}
.navbar__item > a:hover.active {
  font-weight: bold;
  background: var(--primary-color);
  color: var(--secondary-color);
}
.navbar__submenu {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  display: flex;
  background: var(--secondary-color);
}
.navbar__submenu:nth-child(3) {
  border: 1px solid #000;
}
.navbar__submenu a {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
}
.navbar__submenu > a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}

/* =================== main banner =================== */
/* arrow */
.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  z-index: 100;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
  z-index: 100;
}

.slick-prev:after,
.slick-next:after {
  font-size: 1.2rem;
  color: #fff;
}
.slick-prev:after,
.slick-next:after {
  font-family: unicons-line;
}
.slick-prev:after {
  content: "\ec49";
}
.slick-next:after {
  content: "\eb9f";
}

/* progress */
.slick-dots {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -2rem;
}
/* active된 dot */
.slick-dots li.slick-active button {
  background: var(--secondary-color);
}
/* 나머지 dot */
.slick-dots li button {
  width: 100px;
  height: 5px;
  font-size: 0;
  border: none;
  background: var(--line-color);
}
/* =================== community =================== */
.community {
  margin: 0 auto;
  padding: 60px;
}
.community__box {
  width: 1300px;
  margin: 0 auto;
}
.community__gallery {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  text-align: right;
  margin-right: 20px;
}
.community__gallery img {
  width: 300px;
  margin: 5px;
}
.community__desc {
  flex: 1;
  height: auto;
  flex-wrap: wrap;
  justify-content: start;
}
.community__desc_text {
  width: 300px;
  height: 300px;
  padding: 25px;
  margin: 5px;
  flex-direction: column;
  text-align: center;
  transition: 0.5s;
}
.community__desc_text h1 {
  margin-bottom: 50px;
}
.community__desc_text:hover {
  transform: translateY(-10px);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* =================== section second banner =================== */
.second__banner img {
  width: 100%;
}

/* =================== section category =================== */
.category ul {
  justify-content: space-between;
  text-align: center;
}
.category ul li {
  position: relative;
  cursor: pointer;
}
.category ul li a {
  text-align: center;
}
.category ul li img {
  transition: all 0.4s;
  margin-bottom: 30px;
  width: 300px;
  border-radius: 1rem;
}
.category ul li h2 {
  font-size: 1.3rem;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: none;
}
.category ul li:after {
  content: "";
  position: absolute;
  border-radius: 1rem;
  width: 300px;
  height: 300px;
  background: rgba(145, 145, 145, 0.288);
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s;
}
.category ul li:hover:after {
  opacity: 1;
}
.category ul li:hover h2 {
  display: block;
}

/* =================== section recommend =================== */
.recommend ul {
  justify-content: space-between;
}
.recommend ul li {
  width: 300px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 15px;
}
.recommend__img {
  transition: 0.3s;
  cursor: pointer;
}
.recommend__img:hover {
  transform: scale(1.1);
}
.recommend ul li span {
  font-size: 1.3rem;
  background: var(--primary-color);
  color: var(--secondary-color);
}
.recommend__desc {
  padding: 0.8rem;
  background: var(--primary-color);
  color: var(--secondary-color);
}
.recommend__desc b:nth-of-type(1) {
  font-weight: bold;
}
.recommend__desc b:nth-of-type(2) {
  font-size: 1.1rem;
  text-decoration: underline;
  transition: 0.3s;
}
.recommend__desc b:nth-of-type(2):hover {
  color: var(--hover-color);
}

/* =================== section sub-banner =================== */
.sub__banner img {
  width: 100%;
  margin: 30px 0;
}

/* =================== section online-service =================== */
.online-service ul {
  justify-content: space-around;
}
.online-service ul li {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 200px;
  padding: 10px;
  height: 300px;
}
.online-service ul li h3 {
  font-weight: bold;
}
.online-service ul li p {
  text-align: left;
  font-size: 0.9rem;
}
/* =================== footer =================== */
footer ul li {
  flex: 1;
}
.main-logo-white {
  width: 300px;
  position: relative;
  margin-bottom: var(--margin-1);
}
.mobile_logo_img_white {
  display: none;
}
.footer__content:after {
  content: "";
  position: absolute;
  width: 0.2px;
  height: 200px;
  background: #fff;
}
.footer__item {
  justify-content: space-around;
}
.footer__service_center h2 {
  margin-bottom: 20px;
}
.footer__service_center ul li {
  margin-bottom: 0.8rem;
  padding: 5px;
  font-weight: bold;
  transition: 0.3s;
}
.footer__service_center ul li:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
}
.footer__news input {
  height: 30px;
}
.footer__custom_service {
  flex-direction: column;
  justify-content: space-between;
}
.footer__h2_margin {
  margin: var(--margin-1) 0;
}
.footer__news button {
  margin-left: -5px;
  padding: var(--margin-0-5);
  height: 30px;
  font-size: 0.8rem;
  vertical-align: bottom;
}
.footer__icon_items {
  display: flex;
  justify-content: space-between;
}
.footer__icon_items a {
  transition: 0.3s;
}
.footer__icon_items a:nth-child(1):hover {
  color: #1877f2;
}
.footer__icon_items a:nth-child(2):hover {
  color: #1da1f2;
}
.footer__icon_items a:nth-child(3):hover {
  color: #c32aa3;
}

/* ========================= Tablet ========================= */
@media (max-width: 768px) {
  :root {
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --big-font-size: 2rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.75rem;
  }
  /* ======================== header ======================== */
  header {
    width: 100%;
  }
  .nav__container {
    width: 100%;
  }
  /* ======================== community ======================== */
  .community__box {
    width: 100%;
  }
  .community__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .community__gallery a {
    margin: 5px;
  }
  .community__gallery img {
    width: 250px;
  }
  .community__desc {
    display: none;
  }
  /* ========================= category ========================= */
  .category {
    width: 100%;
  }
  .category ul {
    flex-direction: column;
  }
  .category ul li {
    margin-bottom: var(--margin-0-5);
  }
  /* ========================= recommend ========================= */
  .recommend {
    display: none;
  }
  /* ========================= online-service ========================= */
  .online-service {
    width: 100%;
  }
  .online-service ul li {
    margin: 5px;
  }
  /* ========================= footer ========================= */
  footer {
    width: 100%;
    background: #000;
  }
  .mobile_logo_img_white {
    background: #000;
    padding: var(--margin-2);
    display: block;
  }
  .mobile_logo_img_white h2 {
    text-align: center;
  }
  .footer__content {
    display: none;
  }
}
/* ========================= Mobile ========================= */

@media (max-width: 568px) {
}
