@charset "utf-8";

.wrap {
  max-width: 1920px;
}
.inner {
  max-width: 1440px;
  margin: 0 auto;
}
header {
  height: 100px;
}
footer {
  height: 100px;
}

.l-col-1-12 {
  width: 8.33333333%;
}
.l-col-2-12 {
  width: 16.66666667%;
}
.l-col-3-12 {
  width: 25%;
}
.l-col-4-12 {
  width: 33.33333333%;
}
.l-col-5-12 {
  width: 41.66666667%;
}
.l-col-6-12 {
  width: 50%;
}
.l-col-7-12 {
  width: 58.33333333%;
}
.l-col-8-12 {
  width: 66.66666667%;
}
.l-col-9-12 {
  width: 75%;
}
.l-col-10-12 {
  width: 83.33333333%;
}
.l-col-11-12 {
  width: 91.66666667%;
}
.l-col-12-12 {
  width: 100%;
}

.l-col-7-14 {
  width: 14.28571428571429%;
}
