@charset "utf-8";

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

/* ----------------------- main color ----------------------- */
    --hue-color: 205;

/* ----------------------- colors ----------------------- */
    --primary-color: hsl(var(--hue-color), 69%, 61%);
    --primary-color-lighter: hsl(var(--hue-color), 92%, 85%);

    --black-color: hsl(var(--hue-color), 8%, 15%);
    --gray-color: hsl(var(--hue-color), 8%, 45%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 60%, 99%);

/* ----------------------- typography ----------------------- */
/* font-family: ; */
    --body-font: 'Do Hyeon', sans-serif;
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .813rem;

/* ----------------------- font-weight ----------------------- */
    --font-medium: 500;
    --font-semi-bold: 600;

/* ----------------------- margin bottom ----------------------- */
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

/* ----------------------- z index ----------------------- */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* ----------------------- reset ----------------------- */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--gray-color);

}
h1,h2,h3,h4 {
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
}
h1 {
    font-size: var(--h1-font-size);
}
h2 {
    font-size: var(--h2-font-size);
}
h3 {
    font-size: var(--h3-font-size);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
    vertical-align: top;
}
button {
    cursor: pointer;
}
/* ========================= layout ========================= */
.inner {
    min-width: 340px;
    max-width: 768px;
    margin: 0 auto;
    padding: 3rem 0 5rem;
}
.flex {
    display: flex;
}
.main-inner {
    width: 100%;
    padding: 1rem 0 5rem;
    margin: 0 auto;
}
.main-title {
    margin-bottom: var(--mb-3);
    text-align: center;
    font-size: var(--big-font-size);
}
.main-title-mt {
    margin-top: var(--mb-2);
}
.margin__l {
    margin-left: var(--mb-1);
}
.section__margin {
    margin: 0 auto;
    padding: 5rem 5rem;
}
/* ========================= 웹표준, 웹접근성 skip ========================= */
#skip {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: translateY(-100%);
    background: var(--green-color);
    color: var(--primary-color);
    z-index: 9999;
    text-align: center;
  }
  #skip:focus
  {
    transform: translateY(0);
  }
  /* ========================= 웹표준, 웹접근성 모달 ========================= */
  #notice {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal {
    padding: 3rem;
    width: 530px;
    height: 450px;
    border-radius: .8rem;
    background: #fff;
    border: 3px solid #999;
    position: relative;
  }
  .notice-modal__close {
    position: absolute;
    right: .5rem;
    top: .2rem;
    font-size: 2rem;
    cursor: pointer;
  }
  .notice__title {
    margin: 1rem 0 1rem 0
  }
  .logo__html5 {
    width: 50px;
    margin-right: 1rem;
  }
  .logo__css3 {
    width: 36px;
  }
  .logo__js {
    width: 83px;
    margin-right: -1rem;
  }
  .logo__jquery {
    width: 100px;
  }
  .logo__github {
    width: 60px;
  }
/* ========================= header ========================= */
.wrap {
    background: var(--black-color);
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
    border-bottom: 1px solid var(--white-color);
    font-size: var(--h3-font-size);
    transition: .4s;
}
#header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #000;
    background: var(--primary-color);
    border: none;
}
.nav__item > a.fixed {
    color: var(--black-color);
}
.header-inner {
    max-width: 100%;
    height: 4rem;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
}
.nav__container {
    margin-left: auto;
}
.nav__list {
    width: 500px;
    justify-content: space-between;
}
.nav__link {
    color: var(--white-color);
}
.nav__item a {
    width: 100%;
    text-align: center;
    line-height: 50px;
    transition: .4s;
}
.nav__item > a {
    color: var(--white-color);
}
.nav__item a:hover{
    color: black;
}
.nav__item a:hover.active {
    color: var(--white-color);
}
.nav__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    display: flex;
    font-size: var(--font-medium);
    /* font-weight: var(--font-semi-bold); */
    background: var(--primary-color-lighter);
}
/* ========================= banner section ========================= */
.banner {
    background: url(../img/main-banner.jpg) center/100% no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
}
/* ========================= home section ========================= */
.home {
    color: var(--white-color);
}
.home__container {
    position: absolute;
    top: 50%;
    transform: translateY(-20%);
    margin: var(--mb-2);
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
    width: 50%;
}
.home__container_desc {
    margin-bottom: var(--mb-1);
    color: var(--white-color);
}
.home__container_date {
    color: var(--white-color);
    background: var(--primary-color-lighter);
    border-radius: var(--mb-0-5);
    width: 50%;
    text-align: center;
}
/* ========================= apply section ========================= */
.apply {
    justify-content: space-around;
}
.apply__box {
    margin: var(--mb-2-5);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.apply__img {
    transition: .4s;
}
.apply__box:hover .apply__img {
    transform: scale(1.1);
}
.apply__desc {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--white-color);

}
.apply__desc p {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-2);
}
.apply__desc a {
    font-size: var(--h3-font-size);
    border: 1px solid var(--white-color);
    padding: var(--mb-0-5);
    transition: .4s;
    border-radius: 3rem;
}
.apply__desc a:hover {
    background: var(--white-color);
    color: var(--black-color);
    border: none;
}
.apply__semi_blue {
    color: var(--primary-color-lighter);
}
.apply__semi_blue a {
    border: 1px solid var(--primary-color-lighter);
}
.apply__semi_blue a:hover {
    border: none;
    color: var(--white-color);
    background: var(--primary-color-lighter);
}
/* ========================= map section ========================= */
.map {
    max-width: 1270px;
}
.main-title {
    color: var(--white-color);
}
.map img {
    width: 600px;
    margin: 0 1rem;
    border-radius: 10px;
}
/* ========================= notice section ========================= */
.notice {
    padding: 2rem 0;
    background: var(--white-color);
    color: #000;
    font-size: 1.5rem;
}
.notice__container {
    margin: 0 auto;
    max-width: 1270px;
}
.notice__desc {
    flex: 5;
    margin: 1rem;
    border-right: 1px solid var(--gray-color);
}
.notice__desc h2 {
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-1-5);
}
.notice__desc ul li {
    list-style: square;
    margin: 0 0 var(--mb-1) var(--mb-1);
}
.notice__desc ul li a {
    transition: .3s;
}
.notice__desc ul li:hover a {
    color: var(--primary-color);
}
.notice__video {
    padding: 1rem;
    flex: 5;
}
.notice__video video {
    width: 100%;
    border-radius: 5px;
}
/* ========================= footer ========================= */
.footer {
    background: var(--primary-color-lighter);
    color: var(--black-color);
    padding: var(--mb-1-5) var(--mb-3);
    font-family: sans-serif;
    line-height: 2rem;
    font-size: var(--small-font-size);
}
address {
    font-style: unset;
}
address a {
    text-decoration: underline;
}